<!DOCTYPE html>
<html>
  <head>
    <title>ADS - Nuvem</title>
  </head>
  <body>
    <h1>CRUDS disponiveis: </h1>
    <h2><a href='/carros/'>Carros (Pedro Mamede)</a></h2>
    <h2><a href='/endereco_lojas/'>Endereco_Lojas (Mauricio Garcia Veloso Junior)</a></h2>
    <h2><a href='/clientes/'>Cadastro de Clientes (Carlos Alberto Alves Junior)</a></h2>
  </body>
</html>